@use './partials/variables' as *;


$fa-font-path: "../fonts/webfonts" !default;


@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

// HEADER STYLE

header {
    background-color: white;
    height: 120px;
}

body {
    background-color: #212529;
}

.myContainer {
    height: 100%;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

    .navbar {
        height: 100%;
        padding: 0;


        .mainList {
            height: 100%;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            list-style-type: none;

            li {
                height: 100%;
                padding: 0;
                margin: 0 .7rem;
                display: flex;
                justify-content: center;
                align-items: center;
            }

            a {
                display: flex;
                align-self: center;
                text-decoration: none;
                color: #0282f9;

                &:hover {
                    border-bottom: 5px solid #0282f9;
                }
            }
        }
    }
}


.card {
    height: 550px;
    background-color: transparent;
    color: white;
    padding: 1rem;
}

.card:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.61);
    transition: .7s;
}

.card-header {
    width: 100%;
    height: 350px;
    background: transparent;

    // img {
    //     width: 100%;
    //     height: 100%;
    //     object-fit: fill;
    // }
}

.myRow {
    height: 600px;
    width: 100%;
    display: flex;
}